.comment {
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  min-height: 60px;
  position: relative;
  padding: 15px;
  margin-bottom: 20px;
  position: relative;
  z-index: 0;
}

.comment-box:before,
.comment-box:after {
  border-width: 10px 10px 10px 0;
  border-style: solid;
  border-color: transparent #fcfcfc;
  content: '';
  left: -10px;
  position: absolute;
  top: 20px;
}

.comment-box:before {
  border-color: transparent rgba(0, 0, 0, 0.05);
  top: 22px;
}

.comment-text {
  color: #555f77;
  font-size: 15px;
  margin-bottom: 25px;
}

footer {
  color: #acb4c2;
  font-size: 13px;
}

footer:after {
  content: '';
  display: table;
  clear: both;
}

footer a {
  color: #acb4c2;
  text-decoration: none;
  transition: 350ms color;
}

footer a:hover {
  color: #555f77;
  text-decoration: underline;
}

.comment-info {
  float: left;
  width: 85%;
}

.comment-date:before {
  content: '|';
  margin: 0 10px;
}

.form {
  margin-top: 50px;

  &:first-child {
    margin-top: 10px;
  }
}

.form-row {
  margin-bottom: 10px;
}
.form-row:last-child {
  margin-bottom: 0;
}

.input {
  background-color: #fcfcfc;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  color: #555f77;
  font-family: inherit;
  font-size: 14px;
  padding: 5px 10px;
  outline: none;
  width: 100%;
  transition: 350ms box-shadow;
}

textarea.input {
  height: 100px;
  padding: 15px;
}

input[type='submit'] {
  background-color: #555f77;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  color: #fff;
  cursor: pointer;
  display: block;
  margin-left: auto;
  outline: none;
  padding: 6px 15px;
  transition: 350ms box-shadow;
}

.input:focus,
input[type='submit']:focus,
input[type='submit']:hover {
  box-shadow: 0 2px 6px rgba(121, 137, 148, 0.55);
}

.form.ng-submitted .input.ng-invalid,
.input.ng-dirty.ng-invalid {
  box-shadow: 0 2px 6px rgba(212, 47, 47, 0.55) !important;
}

.input.disabled {
  background-color: #e8e8e8;
}
