<section *ngFor="let comment of comments" class="comment">
  <div class="comment-text">{{ comment.comment }}</div>
  <footer>
    <span class="comment-author">
      <em>Anonymous</em>
    </span>
    <span class="comment-date">{{ comment.createdDate | date: 'medium' }}</span>
  </footer>
</section>

<form [formGroup]="form" (ngSubmit)="addComment()" class="form" novalidate>
  <div class="form-row">
    <textarea class="input" formControlName="comment" placeholder="Dodaj komentarz..." required></textarea>
  </div>
  <div class="form-row">
    <input type="submit" value="Dodaj komentarz" [disabled]="!form.valid" />
  </div>
</form>
