<header>
    <mat-toolbar class='app-navbar' color='primary'>
        <a class="logo-text" title="Strona główna" routerLink='/'>Ekostraż</a>
        <div class='nav-buttons-container'>
            <ng-container *ngIf="isLoggedIn$ | async">
                <button mat-button routerLink='/interwencje' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Interwencje</button>
                <button mat-button routerLink='/interwencje/mapa' routerLinkActive="active">Mapa</button>
                <button mat-button routerLink='/interwencje/zglos' routerLinkActive="active">Zgłoś</button>
            </ng-container>
            <button *ngIf="!(isLoggedIn$ | async)"
                    mat-button routerLink='/interwencje/zglos-publiczny'
                    routerLinkActive="active">Zgłoś interwencję
            </button>
        </div>
        <div class='auth-buttons-container'>
            <button *ngIf='!(isLoggedIn$ | async)' mat-button (click)='logIn()'>Zaloguj</button>
            <button *ngIf='isLoggedIn$ | async' mat-button (click)='logOut()'>Wyloguj</button>
        </div>
    </mat-toolbar>
</header>
