@import '~@angular/material/theming';

.app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  @include mat-elevation(5);

  & a {
    color: white;
    text-decoration: none;
  }

  & a:focus,
  & a:visited {
    color: white;
  }
}

.nav-buttons-container {
  flex-grow: 1;
  height: 100%;
}

.mat-button {
  height: 100%;
}

.logo-text {
  margin-right: 30px;
  text-transform: uppercase;
}
