.app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    & a {
        color: white;
        text-decoration: none;
    }

    & a:focused,
    & a:visited {
        color: white;
    }
}

.auth-buttons {
    
}

.container {
    max-width: 1170px;
    margin: auto;
}