<mat-card class="InterventionFormCard">
  <mat-card-title>{{ formTitle }}</mat-card-title>

  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" [withGtmContext]="formGtmContext">
      <input type="text" hidden formControlName="id" />

      <mat-form-field *ngIf="inPrivateMode && intervention">
        <input type="text" formControlName="creationDate" matInput placeholder="Data utworzenia" />
      </mat-form-field>

      <mat-form-field>
        <input type="text" formControlName="fullName" matInput placeholder="Imię i nazwisko" />
      </mat-form-field>

      <mat-form-field>
        <textarea formControlName="description" matInput placeholder="Opis sprawy" required></textarea>
        <mat-error>
          <span *ngIf="hasRequiredError('description')">Opis sprawy jest wymagany</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          type="text"
          formControlName="phoneNumber"
          matInput
          placeholder="Numer telefonu"
          pattern="\+?(\d|\s)*"
          required
        />
        <mat-error>
          <span *ngIf="hasRequiredError('phoneNumber')">Numer telefonu jest wymagany</span>
          <span *ngIf="hasPatternError('phoneNumber')">Proszę wprowadzić poprawny numer telefonu</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input type="email" formControlName="email" matInput placeholder="Adres e-mail" />
        <mat-error>
          <span>Proszę wprowadzić poprawny adres e-mail</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="inPrivateMode">
        <mat-label>Status interwencji</mat-label>
        <mat-select formControlName="status" required>
          <mat-option *ngFor="let status of statusOptions" [value]="status.value">
            {{ status.displayValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <section class="address">
        <h2 class="address--header mat-h2">Adres interwencji</h2>

        <mat-form-field class="address--street">
          <input type="text" formControlName="street" matInput placeholder="Ulica" required />
          <mat-error>
            <span *ngIf="hasRequiredError('street')">Ulica jest wymagana</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="address--number">
          <input type="text" formControlName="streetNumber" matInput placeholder="Numer lokalu" required />
          <mat-error>
            <span *ngIf="hasRequiredError('streetNumber')">Numer lokalu jest wymagany</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="address--city">
          <input type="text" formControlName="city" matInput placeholder="Miejscowość" required />
          <mat-error>
            <span *ngIf="hasRequiredError('city')">Miejscowość jest wymagana</span>
          </mat-error>
        </mat-form-field>
      </section>

      <ng-content></ng-content>

      <button type="submit" color="primary" mat-raised-button [disabled]="!form.valid || submitInProgress">
        <mat-spinner *ngIf="submitInProgress" [diameter]="25"></mat-spinner>
        <ng-container *ngIf="!submitInProgress">
          {{ buttonText }}
        </ng-container>
      </button>
    </form>
  </mat-card-content>
</mat-card>
