@import 'variables';

@mixin centerPage($width: $page-width-medium) {
  max-width: $page-width-medium;
  margin-left: auto;
  margin-right: auto;
}

// TODO: Maybe create a wrapper component instead?
@mixin expansionPanelStyles {
  .mat-expansion-panel-header-title {
    font-size: 1.1em;
  }

  .mat-expansion-panel-header-description .mat-icon {
    margin-left: auto;
  }
}
