@import 'theme';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

[data-mat-anchor-centered] .mat-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
