<mat-sidenav-container>
  <mat-sidenav #sidenav [autoFocus]="false">
    <mat-nav-list [withGtmContext]="mobileNavGtmContext">
      <ng-container *ngIf="isLoggedIn$ | async">
        <mat-list-item>Witaj, Inspektorze!</mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>

      <ng-container *ngTemplateOutlet="navLinks"></ng-container>
      <mat-divider></mat-divider>
      <ng-container *ngTemplateOutlet="authLinks"></ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #navLinks>
  <ul class="nav-links-list">
    <ng-container *ngFor="let item of menuItems.navigationLinks">
      <li *ngIf="item.showWhenAuthenticated === (isLoggedIn$ | async)">
        <ng-container *ngTemplateOutlet="navAnchor; context: { item: item }"></ng-container>
      </li>
    </ng-container>
  </ul>
</ng-template>

<ng-template #navAnchor let-item="item">
  <a
    mat-list-item
    (click)="sidenav.close()"
    [routerLink]="item.routeLink"
    [routerLinkActiveOptions]="{ exact: !!item.routeExact }"
    routerLinkActive="active"
  >
    <mat-icon matListIcon *ngIf="!!item.icon"> {{ item.icon }} </mat-icon>
    {{ item.text }}
  </a>
</ng-template>

<ng-template #authLinks>
  <ng-container *ngIf="(isLoggedIn$ | async) === false">
    <a mat-list-item routerLink="/o-aplikacji" routerLinkActive="active">
      <mat-icon matListIcon>help_outline</mat-icon>
      O aplikacji
    </a>

    <a mat-list-item (click)="logIn()">
      <mat-icon matListIcon>account_circle</mat-icon>
      Zaloguj
    </a>
  </ng-container>

  <ng-container *ngIf="isLoggedIn$ | async">
    <a mat-list-item (click)="logOut()">
      <mat-icon matListIcon>exit_to_app</mat-icon>
      Wyloguj
    </a>
  </ng-container>
</ng-template>
