.mat-list-item {
    .mat-icon {
        margin-right: 10px;
    }
}
.mat-raised-button {
    .mat-icon {
        font-size: 18px;
        padding-left: 4px;
        padding-top: 4px;
    }
}

.mat-card-content {
    margin-top: 16px;
    font-size: 16px;

    agm-map {
        height: 200px;
    }

    .map-container {
        width: 60%;
        margin: 20px auto;
    }
}

.mat-card-actions {
    float: right;
}

.mini {
    & .mat-card-actions {
        padding: 0;
    }
}

.title-wrapper {
    display: inline-block;
}

