@import 'breakpoints';

.InterventionsList {
  padding: 10px;
  @media (min-width: $break-mobile) {
    padding: 30px;
  }
  & > button {
    margin-bottom: 10px;
    display: block;
    .mat-icon {
      margin-left: 6px;
    }
    @media (min-width: $break-mobile) {
      margin-bottom: 0;
      float: right;
    }
  }
  & .mat-h1 {
    margin-bottom: 20px;
    display: inline-block;
  }
}

eko-interventions-filters {
  display: block;
  margin-bottom: 20px;
}
