<section class="InterventionsList" [withGtmContext]="interventionsListGtmContext">
  <header>
    <h1 class="mat-h1">Interwencje</h1>
    <span class="intervention-counter mat-body-1"> {{ dataSource.totalCount$ | async }}</span>
  </header>

  <button (click)="showFilters = !showFilters" color="primary" mat-raised-button>
    {{ showFilters ? 'Ukryj' : 'Pokaż' }} filtry
    <mat-icon>filter_list</mat-icon>
  </button>
  <eko-interventions-filters
    *ngIf="showFilters"
    [filtersState]="dataSource.filtersSubject.asObservable() | async"
    (filtersChange)="filtersChanged($event)"
  >
  </eko-interventions-filters>
  <eko-interventions-table (filtersChange)="filtersChanged($event)"></eko-interventions-table>
</section>
