table {
  width: 100%;
  table-layout: fixed;

  .mat-row:hover {
    cursor: pointer;
    background: #ccc5;
  }
}

.mat-column-description {
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (min-width: 701px) {
  .mat-column-description {
    max-width: 200px;
  }
  .mat-column-position {
    max-width: 50px;
  }
}

@media screen and (max-width: 700px) {
  .mat-table {
    border: 0;
    vertical-align: middle;
  }

  .mat-table caption {
    font-size: 1em;
  }

  .mat-table .mat-header-cell {
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .mat-header-row {
    height: 0;
    min-height: 0;
  }
  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
    padding: 0 12px;
    &:after {
      content: unset;
    }
  }

  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    margin-bottom: 4%;
    &:first-of-type {
      padding-left: 0;
    }
  }
  .mat-table .mat-cell:before {
    /** aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 0.7em;
    opacity: 0.5;
    margin-right: 1em;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
  .mat-table .mat-cell:first-child {
    margin-top: 4%;
  }
}
