@import 'breakpoints';

.mat-table {
  width: 100%;
  table-layout: fixed;

  .mat-row:hover {
    cursor: pointer;
    background: #ccc5;
  }
}

.mat-column-description span {
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

@media screen and (min-width: $break-mobile) {
  .mat-column-description {
    max-width: 200px;
  }
  .mat-column-position {
    max-width: 50px;
  }
}

@media screen and (max-width: $break-mobile - 1) {
  .mat-table {
    border: 0;
    vertical-align: middle;
  }

  .mat-table caption {
    font-size: 1em;
  }

  .mat-table .mat-header-cell {
    &:not([mat-sort-header]) {
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }

  .mat-table:before {
    display: block;
    content: 'Sortowanie';
    padding: 10px;
  }

  .mat-table {
    .mat-row,
    .mat-header-row {
      border-bottom: 5px solid #ddd;
      display: block;
      padding: 0 12px;
      &:after {
        content: unset;
      }
    }
  }

  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    margin-bottom: 4%;
    &:first-of-type {
      padding-left: 0;
    }
  }
  .mat-table .mat-cell:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 0.7em;
    opacity: 0.5;
    margin-right: 1em;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
  .mat-table .mat-cell:first-child {
    margin-top: 4%;
  }
}
