@import '~@angular/material/theming';
@import 'breakpoints';

$navbar-height: 64px;
.app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 64px;
  @include mat-elevation(5);

  @media (max-width: $break-mobile) {
    padding-left: 5px;
  }
}

.hamburger-menu {
  margin-right: 5px;
}

.logo-text {
  height: $navbar-height;
  line-height: $navbar-height;
  min-width: auto;
  padding: 0 20px 0 55px;

  background: url("~src/assets/logo_animals_bw1.svg") left no-repeat;
  background-size: 44px;

  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:focus,
  &:visited {
    color: white;
  }
}
