<header>
  <mat-toolbar class="app-navbar" color="primary">
    <a mat-button class="logo-text" title="Strona główna" routerLink="/">Ekostraż</a>
    <eko-desktop-nav
      *ngIf="(isMobileView$ | async) === false"
      [isLoggedIn]="isLoggedIn$ | async"
      [gtmContext]="desktopNavGtmContext"
      [user]="user$ | async"
    >
    </eko-desktop-nav>
    <ng-container *ngTemplateOutlet="hamburgerButton"></ng-container>
  </mat-toolbar>
</header>

<ng-template #hamburgerButton>
  <button
    *ngIf="isMobileView$ | async"
    class="hamburger-menu"
    mat-icon-button
    [withGtmContext]="hamburgerMenuButtonGtmContext"
    (click)="sideNavToggle.emit()"
  >
    <mat-icon>menu</mat-icon>
  </button>
</ng-template>
