<header>
    <mat-toolbar class='app-navbar' color='primary'>
        <button *ngIf="isMobileView$ | async"
                class="hamburger-menu"
                mat-icon-button
                (click)='sideNavToggle.emit()'>
            <mat-icon>menu</mat-icon>
        </button>
        <a class="logo-text" title="Strona główna" routerLink='/'>Ekostraż</a>
        <app-desktop-nav
            *ngIf="!(isMobileView$ | async)"
            [isLoggedIn]="isLoggedIn$ | async"
            (logIn)="logIn()"
            (logOut)="logOut()">
        </app-desktop-nav>
    </mat-toolbar>
</header>
