@import '~@angular/material/theming';

.app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  @include mat-elevation(5);
}

.logo-text {
  color: white;
  margin-right: 30px;
  text-transform: uppercase;
  text-decoration: none;

  &:focus,
  &:visited {
    color: white;
  }
}
