<mat-card>
    <ng-container *ngIf="interventions$ | async as interventions; else loading">
        <h3>Lista interwencji</h3>
        <button (click)='showMap(interventions)' color="primary" mat-raised-button>
            Sprawdź na mapie!
            <mat-icon>map</mat-icon>
        </button>
        <app-interventions-table [interventions]="interventions"></app-interventions-table>
    </ng-container>
</mat-card>

<ng-template #loading>
    <mat-spinner [diameter]="40"></mat-spinner>
</ng-template>
