.mat-column-name {
  padding-left: 10px;
  &:not(.mat-header-cell) {
    display: block;
    align-self: flex-end;
  }
}

.mat-column-type {
  max-width: 110px;
  padding-left: 16px;
  justify-content: center;

  img {
    margin: 5px 0;
    height: 65px;
  }
}

.mat-column-size {
  max-width: 80px;
  justify-content: center;
}

.mat-column-actions {
  max-width: 120px;
  justify-content: center;
}

p.mat-body-2 {
  text-align: center;
}
