@import 'breakpoints';
@import 'mixins';

.HomePage {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & .logo-container {
    background: url('../../../assets/logo.svg') no-repeat center center;
    background-size: cover;
    max-width: 900px;
    width: 100%;
    height: 250px;
    margin: 0 auto;
    @media (max-width: $break-mobile) {
      background-size: 120%;
    }
  }

  & > .mat-raised-button {
    display: block;
    margin: 50px auto;
    width: 250px;
    height: 60px;

    @include anchorMatButtonCentered;
  }
}
