<!-- NOTE: Unfortunately ngIf on container is needed so that the loader has a chance to disappear smoothly -->
<ng-container *ngIf="intervention">
  <header>
    <h1 class="mat-h1">Zgłoszenie z dnia {{ intervention.creationDate | date: 'medium' }}</h1>
    <h3 class="mat-h3">
      Identyfikator zgłoszenia: <strong>{{ intervention.id }}</strong>
    </h3>

    <button mat-raised-button color="primary" title="Edytuj" (click)="navigateToEditView()">
      {{ 'Edytuj' }}
      <mat-icon>edit</mat-icon>
    </button>
  </header>

  <mat-accordion multi="true">
    <!-- Podstawowe informacje-->
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Podstawowe informacje
        </mat-panel-title>

        <mat-panel-description>
          <mat-icon>info_outline</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <eko-intervention-details-basic [intervention]="intervention"></eko-intervention-details-basic>
    </mat-expansion-panel>

    <!-- Załączniki -->
    <mat-expansion-panel [disabled]="!intervention.attachments.length">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span
            matBadge="{{ intervention.attachments.length }}"
            matBadgeOverlap="false"
            [matBadgeHidden]="!intervention.attachments.length"
          >
            Załączniki
          </span>
        </mat-panel-title>

        <mat-panel-description>
          <ng-container *ngIf="!intervention.attachments.length">
            Brak załączników
          </ng-container>
          <mat-icon>attachment_outline</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <eko-file-list [attachments]="intervention.attachments" [interventionId]="intervention.id"></eko-file-list>
    </mat-expansion-panel>

    <!-- Mapa -->
    <mat-expansion-panel class="map-container-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Mapa
        </mat-panel-title>

        <mat-panel-description>
          <mat-icon>map_outline</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <agm-map [latitude]="intervention.geoLat" [longitude]="intervention.geoLng" [zoom]="15">
          <agm-marker [latitude]="intervention.geoLat" [longitude]="intervention.geoLng"></agm-marker>
        </agm-map>
      </ng-template>
    </mat-expansion-panel>

    <!-- Komentarze -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span
            matBadge="{{ intervention.comments.length }}"
            matBadgeOverlap="false"
            [matBadgeHidden]="!intervention.comments.length"
          >
            Komentarze
          </span>
        </mat-panel-title>

        <mat-panel-description>
          <ng-container *ngIf="!intervention.comments.length">
            Nie ma jeszcze komentarzy! Bądź pierwszy!
          </ng-container>
          <mat-icon>comment_outline</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-comments [comments]="intervention.comments" [interventionId]="intervention.id"></app-comments>
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>
