@import 'breakpoints';

:host {
  max-width: 800px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

header {
  position: relative;
  margin-bottom: 15px;
}

header > h1,
header > h3 {
  margin-bottom: 5px;
}

button {
  margin-top: 5px;

  @media (min-width: $break-mobile) {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin: 0;
  }
}

.mat-list {
  padding-top: 0;
}

eko-file-list {
  display: block;
  margin: 0 -24px -16px;
}

.mat-raised-button {
  .mat-icon {
    font-size: 18px;
    padding-left: 4px;
    padding-top: 4px;
  }
}

.map-container-panel {
  &.mat-expanded {
    position: relative;

    .mat-expansion-panel-header {
      height: 64px;
      position: absolute;
      z-index: 10;
      width: 100%;
      background-color: transparent;
      padding-right: 10px;

      &:focus {
        background-color: transparent;
      }

      .mat-icon {
        display: none;
      }
    }

    // NOTE: ::ng-deep is considered deprecated since WebComponents spec changes, but needs to be used here,
    // as there is no other alternative and Angular team will support it anyway
    ::ng-deep .mat-expansion-indicator {
      opacity: 0.8;
      border: 1px solid white;
      background: white;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 50%;

      &:hover {
        opacity: 1;
        color: silver;
      }

      &::after {
        margin-bottom: 4px;
      }
    }

    mat-panel-title {
      opacity: 0;

      .mat-badge-content {
        margin-left: 5px;
      }
    }
  }

  // NOTE: It's so lame that I have to use the deprecated ::ng-deep API
  // to make it work. Angular, why you make this hard?
  ::ng-deep .mat-expansion-panel-body {
    height: 250px;
    padding: 0;
  }

  agm-map {
    height: 100%;
  }
}

.mat-expansion-panel-header-title {
  font-size: 1.1em;
}

.mat-expansion-panel-header-description .mat-icon {
  margin-left: auto;
}

mat-panel-title .mat-badge-content {
  top: 0;
  right: -30px;
}
