<mat-card
  *ngIf="intervention"
  [withGtmContext]="interventionDetailsGtmContext"
  [ngClass]="{ 'mat-elevation-z4': !embedded, embedded: !!embedded }"
>
  <div class="title-wrapper">
    <mat-card-title>Zgłoszenie z dnia {{ intervention.creationDate | date: 'medium' }}</mat-card-title>
    <mat-card-subtitle>Identyfikator zgłoszenia: {{ intervention.id }}</mat-card-subtitle>
  </div>

  <mat-card-actions align="end">
    <button mat-raised-button color="primary" title="Edytuj" (click)="navigateToEditView()">
      {{ embedded ? '' : 'Edytuj' }}<mat-icon>edit</mat-icon>
    </button>
  </mat-card-actions>

  <mat-card-content>
    <section>
      <h2 class="mat-h2">Podstawowe informacje</h2>
      <mat-list>
        <mat-list-item> <mat-icon>done</mat-icon> {{ intervention.status | ekoInterventionStatus }} </mat-list-item>
        <mat-list-item> <mat-icon>account_circle</mat-icon> {{ intervention.fullName || 'Brak' }} </mat-list-item>
        <mat-list-item> <mat-icon>phone</mat-icon> {{ intervention.phoneNumber }} </mat-list-item>
        <mat-list-item> <mat-icon>email</mat-icon> {{ intervention.email || 'Brak' }} </mat-list-item>
        <mat-list-item> <mat-icon>location_on</mat-icon> {{ intervention.address }} </mat-list-item>
      </mat-list>
    </section>

    <section>
      <h2 class="mat-h2">Opis sprawy</h2>
      {{ intervention.description }}
    </section>

    <section>
      <h2 class="mat-h2">Załączniki</h2>
      <eko-file-list [attachments]="intervention.attachments" [interventionId]="intervention.id"></eko-file-list>
    </section>

    <section *ngIf="!embedded" class="map-container">
      <h2 class="mat-h2">Mapa</h2>
      <agm-map [latitude]="intervention.geoLat" [longitude]="intervention.geoLng">
        <agm-marker [latitude]="intervention.geoLat" [longitude]="intervention.geoLng"> </agm-marker>
      </agm-map>
    </section>

    <section>
      <h2 class="mat-h2">Komentarze</h2>
      <app-comments [comments]="intervention.comments" [interventionId]="intervention.id"></app-comments>
    </section>
  </mat-card-content>
</mat-card>
