$top-offset: 50px;
:host {
  position: fixed;
  // Top offset is needed here, so that the app header will not cover map marker popups.
  top: $top-offset;
  left: 0;
  right: 0;
  bottom: 0;
}

agm-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
