<app-loader [loading$]="loading$" [loaderText]="'Ładowanie mapy...'" [hiddenBeforeLoaded]="true">
  <agm-map
    *ngIf="interventions"
    [withGtmContext]="interventionMapGtmContext"
    [latitude]="interventions[0].geoLat"
    [longitude]="interventions[0].geoLng"
    (tilesLoaded)="onTilesLoaded()"
  >
    <agm-marker
      *ngFor="let intervention of interventions.slice(0, 200)"
      [latitude]="intervention.geoLat"
      [longitude]="intervention.geoLng"
    >
      <agm-info-window [disableAutoPan]="false">
        <app-intervention-details [intervention]="intervention" embedded="true"> </app-intervention-details>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</app-loader>
