:host {
  display: flex;
  width: 100%;
  height: 100%;
}

.nav-buttons-container {
  flex-grow: 1;
  height: 100%;
}

$font-size: 15px;
.auth-buttons-container {
  .greeting {
    font-size: $font-size;
    margin-right: 5px;
  }

  .logout.mat-button {
    min-width: 40px;
    padding: 0;
  }

  .logout .material-icons {
    margin: 0;
    transform: rotate(180deg);
  }
}

.mat-button {
  height: 100%;
  font-size: $font-size;
  .material-icons {
    margin-right: 5px;
  }
}
