<div class="nav-buttons-container" [withGtmContext]="gtmContext">
  <ng-container *ngIf="isLoggedIn">
    <button mat-button routerLink="/interwencje" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <mat-icon>list</mat-icon>
      Interwencje
    </button>
    <button mat-button routerLink="/interwencje/mapa" routerLinkActive="active">
      <mat-icon>map</mat-icon>
      Mapa
    </button>
    <button mat-button routerLink="/interwencje/zglos" routerLinkActive="active">
      <mat-icon>notifications_active</mat-icon>
      Zgłoś
    </button>
  </ng-container>
  <button *ngIf="!isLoggedIn" mat-button routerLink="/zglos-interwencje" routerLinkActive="active">
    <mat-icon>notifications_active</mat-icon>
    Zgłoś interwencję
  </button>
</div>
<div class="auth-buttons-container" [withGtmContext]="gtmContext">
  <ng-container *ngIf="!isLoggedIn">
    <button class="login" mat-button (click)="logIn.emit()">
      <mat-icon>account_circle</mat-icon>
      Zaloguj
    </button>
    <button mat-button routerLink="/o-aplikacji" routerLinkActive="active" matTooltip="O aplikacji">
      <mat-icon>help_outline</mat-icon>
    </button>
  </ng-container>
  <ng-container *ngIf="isLoggedIn">
    <span class="greeting">Witaj, Inspektorze!</span>
    <button class="logout" mat-button matTooltip="Wyloguj" (click)="logOut.emit()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </ng-container>
</div>
