<mat-card>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Status interwencji</mat-label>
        <mat-select formControlName="statuses" multiple>
          <mat-option *ngFor="let status of statusOptions" [value]="status.value">
            {{ status.displayValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <aside class="buttons-container">
      <button *ngIf="!isEmpty" (click)="clearForm()" mat-stroked-button color="accent">Wyczyść</button>
    </aside>
  </mat-card-content>
</mat-card>
