@import '~@angular/material/theming';
@include mat-core();

$my-color-green: darkgreen;
$my-app-primary: mat-palette($mat-green, 800);
$my-app-accent:  mat-palette($mat-green, 500, 900, A100);
$my-app-warn:    mat-palette($mat-deep-orange, 800);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);

body {
    margin: 100px 0 40px 0;
}
