<mat-card>
    <mat-spinner [diameter]="40" *ngIf="isloading"></mat-spinner>
    <ng-container *ngIf="!isloading">
        <agm-map *ngIf="!!interventions.length" [latitude]="interventions[0].geoLat"
            [longitude]="interventions[0].geoLng">
            <agm-marker *ngFor="let intervention of interventions.slice(0,200)" [latitude]="intervention.geoLat"
                [longitude]="intervention.geoLng">
                <agm-info-window [disableAutoPan]="false">
                    <app-intervention-details [intervention]='intervention' miniVersion='true'>
                    </app-intervention-details>
                </agm-info-window>
            </agm-marker>
        </agm-map>
    </ng-container>
</mat-card>
