@import 'mixins';

:host {
  display: block;
  @include centerPage;
}

@include expansionPanelStyles;

h3 {
  font-weight: 500;
}

ul {
  list-style: none;
  padding-left: 10px;
}

li {
  margin-left: 15px;
}
