<header>
  <h1 class="mat-h1">O aplikacji</h1>
</header>

<mat-accordion multi="true">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Autorzy
      </mat-panel-title>

      <mat-panel-description>
        <mat-icon>people</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <article>
      <h3 class="mat-h3">Programiści front-end</h3>
      <ul>
        <li>Radosław Kuczyński</li>
        <li>Jakub Chodorowicz</li>
      </ul>

      <h3 class="mat-h3">Programiści backend-end</h3>
      <ul>
        <li>Dariusz Parzygnat</li>
        <li>Łukasz Przerada</li>
        <li>Radosław Kuczyński</li>
      </ul>

      <h3 class="mat-h3">Analiza wymagań i pomoc merytoryczna</h3>
      <ul>
        <li>Paweł Zubkiewicz</li>
      </ul>

      <h3 class="mat-h3">Współuczestnicy hackathonu Kodawanie 2019</h3>
      <ul>
        <li>Patryk Lotzwi</li>
        <li>Karol Przybylak</li>
      </ul>
    </article>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Historia powstania
      </mat-panel-title>

      <mat-panel-description>
        <mat-icon>menu_book</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <article>
      Już wkrótce :)
    </article>
  </mat-expansion-panel>
</mat-accordion>
