<app-gtm-script *ngIf="useGoogleTagManager" [tagManagerId]="tagManagerId"></app-gtm-script>

<mat-progress-bar *ngIf="isRouteLoading$ | async" [mode]="'indeterminate'" [color]="'accent'"></mat-progress-bar>
<eko-nav (sideNavToggle)="sidenav.toggle()"></eko-nav>
<eko-mobile-nav #sidenav>
  <ng-container *ngTemplateOutlet="main"></ng-container>
</eko-mobile-nav>

<ng-template #main>
  <main [@routeAnimation]="o.isActivated ? o.activatedRoute : ''" class="container">
    <router-outlet #o="outlet"></router-outlet>
  </main>
</ng-template>
