@import 'theme';
@import 'breakpoints';

$primary-color: map-get($my-app-primary, 'default');
.login-dialog-backdrop {
  background-image: url('~src/assets/logo_animals_vert.svg'), linear-gradient(white, $primary-color 160%);
  background-repeat: no-repeat;
  background-size: 300px, 100%;
  background-position: center 40px, top;

  @media (max-width: $break-mobile) {
    background-size: 220px, 100%;
    background-position: center 25px, top;
  }
}

.login-dialog-panel {
  $dialog-padding: 24px;
  .mat-dialog-container {
    padding: $dialog-padding;
    display: flex;
    flex-direction: column;

    width: 340px;
    margin-top: 80px;

    @media (max-width: $break-mobile) {
      margin-top: 75px;
    }

    @media (max-height: 500px) {
      margin-top: 0;
      // TODO: If we want to make login dialog a perfect fit on Chrome in Android, then
      // we should utilize custom css variables here in the future and set them from JS in Angular.
      // Max-height set to 80vh below is just a quick solution, because Chrome on Android takes browser address bar
      // into account during visible height calculations.
      max-height: 80vh;
      overflow-y: scroll;
    }
  }

  .mat-dialog-title {
    color: $primary-color;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    position: relative;
    line-height: 36px;

    &:after {
      background: $primary-color;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      left: -$dialog-padding;
      top: 0;
      width: 3px;
    }
  }

  .mat-dialog-content {
    flex: 1 1 60%;
  }

  .mat-dialog-actions {
    flex-grow: 1;
    margin: 0;
  }

  .mat-button {
    width: 200px;
  }
}
