.app-spinner-container {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.6);
  pointer-events: none;

  .mat-spinner {
    margin: auto;
  }
}

