<span *ngIf="files.length" class="file-counter">Wybrano {{ files.length }}</span>

<div class="uploader-container">
  <p *ngIf="!files.length" class="add-files-text">{{ addFilesMessage }}</p>
  <div class="thumbs-container">
    <eko-file-thumb *ngFor="let file of files" [file]="file" (fileRemove)="onFileRemove($event, fileInput)">
    </eko-file-thumb>

    <div class="fab-container">
      <button type="button" color="primary" mat-mini-fab (click)="openFileBrowser(fileInput)">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <input
    #fileInput
    multiple
    type="file"
    hidden
    accept="{{ acceptedFileTypes }}"
    (change)="onFilesSelected(fileInput)"
  />
</div>
